<%- include('../partials/adminHeader') %>


  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Dashboard </h2>
        <p>Whole data about your business here</p>
      </div>
      <div>
        <a href="/admin/report" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create
          report</a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-primary-light"><i
                class="text-primary material-icons md-monetization_on" style="position: relative;top:12px;"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Revenue</h6>
              <span>₹<%=revenue %></span>
              <span class="text-sm">
                Shipping fees are not included
              </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-success-light"><i
                class="text-success material-icons md-local_shipping" style="position: relative;top:12px;"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Orders</h6> <span>
                <%=count %>
              </span>
              <span class="text-sm">
                Total orders placed
              </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"
                style="position: relative;top:12px;"></i></span>
            <div class="text">
              <h6 class="mb-1 card-title">Products</h6> <span>
                <%=productcount %>
              </span>
              <span class="text-sm">

              </span>
            </div>
          </article>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <div class="card mb-4">
          <article class="card-body">
            <h5 class="card-title">Sale statistics</h5>
            <canvas id="myChart1" height="120px"></canvas>
          </article>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card mb-4">


          <article class="card-body">
            <h5 class="card-title">Payment Mode</h5>
            <span class="text-muted font-xs">Cash On Delivery</span>
            <div class="progress mb-3">

              <div class="progress-bar" role="progressbar" style="width:<%=cod%>%">
                <%=cod%>%
              </div>

            </div>
            <span class="text-muted font-xs">Online Payment</span>
            <div class="progress mb-3">
              <div class="progress-bar" role="progressbar" style="width: <%=online%>%">
                <%=online%>%
              </div>
            </div>

          </article>
        </div>

      </div>
    </div>

    <div>
      <p style="visibility: hidden" id="days">
        <%= JSON.stringify(locals.ordersPerDay) %>
      </p>
     
    </div>

  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  <script>
    document.write(new Date());
    
    // Sample data
    var xValues = [
      'Sunday',
      'Monday',
      'Tuesday',
      'Wednesday',
      'Thursday',
      'Friday',
      'Saturday',
    ];
    var yValues = [0, 5, 10, 15, 20, 25, 50];
    var buyed = [];
    let daysData = JSON.parse(document.getElementById('days').innerHTML);
    console.log(daysData,'ssssssss')
    for (let i = 0; i < xValues.length; i++) {
      if (xValues[i] in daysData) {
        buyed.push(daysData[xValues[i]]);
      } else {
        buyed.push(0);
      }
    }
 console.log(buyed,'oipuu')
    new Chart('myChart1', {
      type: 'bar',
      data: {
        labels: xValues,
        datasets: [
          {
            fill: false,
            lineTension: 0,
            backgroundColor: 'red',
            borderColor: 'rgba(0,0,255,0.1)',
            data: buyed,
            label: 'Sales',
          },
        ],
      },
      options: {
        legend: { display: false },
        scales: {
          yAxes: [{ ticks: { min: 0, max: 25 } }],
        },
      },
    });

   
  </script>

  <%- include('../partials/admin-footer') %>