<%- include('../partials/user-header') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<main class="main">

    <% let stock=true
                                             let stock1 = true
                                %>

    <% data.forEach(element => { %>
        <% if (element.stock=="0") { %>
            <% stock1=false %>
        <% } %>
     
    <% }) %>

    <% if (reload) { %>
          <input type="hidden" name="" id="reload" value="1">
          <% } else { %>
            <input type="hidden" name="" id="reload" value="0">
    <% } %>


    <% if (expired) { %>
        <div class="alert alert-danger text-center" role="alert" id="alert">
            Coupon expired!
          </div>
        <% couponapplied = false %> 
        
       <% } %>

       <% if (minerr && !expired && found && !used) { %>
        <div class="alert alert-warning text-center" role="alert" id="alert">
            Minimum cart value should be <%=minvalue %> to apply this coupon 
          </div>
        
          <% couponapplied = false %> 
       <% } %>

       <% if (found==false) { %>
        <div class="alert alert-danger text-center" role="alert" id="alert">
           Invalid coupon code
          </div>
          <% couponapplied = false %> 
        
       <% } %>

       <% if (used) { %>
        <div class="alert alert-danger text-center" role="alert" id="alert">
            coupon already used
          </div>
          <% couponapplied = false %> 
        
       <% } %>

       <% if (couponapplied && !minerr) { %>
        <div class="alert alert-success text-center" role="alert" id="alert">
            Coupon applied successfully!
          </div>
        
        
       <% } %>

    <!-- Modal HTML embedded directly into document -->
    <div id="ex1" class="modal" style="height: fit-content;width: fit-content;">

        <form action="/addaddress" method="post" >
            <div class="row">
                <div class="form-group col-md-12">
                    <input required class="radio" style="width: 20px;" name="type" type="radio" value="home">
                     <label for="">Home</label>
                     <input required class="radio" style="width: 20px;" name="type" type="radio" value="work">
                    <label for="">Work</label>
                    <input required class="radio" style="width: 20px;" name="type" type="radio" value="other">
                    <label for="">Other</label>
                    
                </div>
                <div class="form-group col-md-12">
                    <label>Full Name <span class="required">*</span></label>
                    <input required class="form-control square" name="name" type="text">
                </div>
                
                <div class="form-group col-md-12">
                    <label>Address <span class="required">*</span></label>
                    <input required="" class="form-control square" name="address" type="text">
                </div>
                <div class="form-group col-md-12">
                    <label>State<span class="required">*</span></label>
                    <input required="" class="form-control square" name="state" type="text">
                </div>
                <div class="form-group col-md-12">
                    <label>Country<span class="required">*</span></label>
                    <input required="" class="form-control square" name="country" type="text">
                </div>
                <div class="form-group col-md-12">
                    <label>Pincode<span class="required">*</span></label>
                    <input required="" class="form-control square" name="pincode" type="text">
                </div>
                <div class="form-group col-md-12">
                    <label>Phone <span class="required">*</span></label>
                    <input required="" class="form-control square" name="phone" type="text">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                    <a  href="#" rel="modal:close" class="btn btn-fill-out bg-danger submit" name="submit" value="Submit">close</a>

                </div>
               
                
            </div>
        </form>

      </div>

      <!-- Modal ends -->
    <form id="placeorder" method="post">
       
    <section class="mt-50 mb-50">
        <div class="container">
           
            <div class="row">
                <div class="col-12 mt-50 mb-50">
                    <!-- <div class="divider mt-50 mb-50"></div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-25 d-flex justify-content-center">
                        <h4 id="refresh">Billing Details</h4>
                    </div>
                    <% if (address.length==0) { %>
                        <div>
                            <h6 class="text-danger">You haven't added an address yet, Please add an address to place the order.</h6>
                        </div>
                     
                    <% } %>
                    <!-- address box -->
                   
                    <div class="col-lg-6  ">
                        <div class="card mb-3 mb-lg-0 ">
                            <% address.forEach(element => { %>

                            <div class="card-header">
                                <h5 class="mb-0"><%=element.type %> Address</h5>
                            </div>
                            <div class="card-body">
                                <p>name: <%=element.name %></p>
                                <address>address: <%=element.address %> </address>
                                <p>state: <%=element.state %></p>
                                <p>country: <%=element.country %></p>
                                <p>pincode: <%=element.pincode %></p>
                                <p>phone: <%=element.phone %></p>
                                <!-- <a href="/deladdress/<%=element._id %>" class="btn-small btn bg-danger"><i class="ri-delete-bin-2-line"></i></a> -->
                                
                                <input type="radio" name="address" value="<%=element._id %>" checked id="" style="width:15px;" required>
                                <label for="" style="position: relative;left:10px;bottom: 17px;">Select</label>
                            </div>
                            <% }) %>
                        </div>
                        
                    </div>

  <!-- add address -->

                
                  
                  <!-- Link to open the modal -->
                  <p><a href="#ex1" rel="modal:open" class="btn btn-primary">Add New Address</a></p>
                
                                <!-- add address -->
                   
                    <!-- adress box end -->
                </div>
              


                <!--ejs total ammout calc  -->
                <% let total =0 %> 
                <% data.forEach(element => { %>
                 <% total = total + Number(element.price)*element.qty %> 
                <% }) %>

                <input type="hidden" name="" id="tamount" value="<%=total %>">
                <input type="hidden" name="" id="wa" value="<%=wa %>">
            
                <!-- end of calc -->
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="mb-20">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive order_table text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    
                                    <% data.forEach(element => { %>
                                     
                                    
                                    <tr>
                                        <td class="image product-thumbnail"><img src="/images/products/<%=element.image%> " alt="#"></td>
                                        <td>
                                            <% if (element.stock=="0") { %>
                                                <% stock=false %>
                                                <input type="hidden" name="" id="reload2" value="0">
                                                <h5><a href="shop-product-full.html"><%=element.productTitle %> </a></h5> <span class="product-qty" style="color:rgb(255, 15, 15)">Product OutOfStock </span>

                                                <% } else { %>
                                                    
                                                    <h5><a href="shop-product-full.html"><%=element.productTitle %> </a></h5> <span class="product-qty">x <%=element.qty %> </span>
                                                    <input type="hidden" name="" id="reload1" value="1">
                                            <% } %>
                                        </td>
                                        <td>₹<%=(Number(element.price)*element.qty) %> </td>
                                    </tr>
                                    <% }) %>
                                    
                                    <% if (couponapplied) { %>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">₹<%=total %> </td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Coupon value</th>
                                            <td colspan="2"><em>₹<%=Math.floor(couponvalue) %> </em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%=Math.round(newtotal * 100) / 100; %></span><span class="old-price font-md ml-15 text-grey" style="text-decoration:line-through">₹<%=Math.round(total * 100) / 100%></span></td>
                                            <input type="hidden" name="amount" id="" value="<%=total %>">
                                            <input type="hidden" name="newtotal" id="" value="<%=Math.round(newtotal * 100) / 100 %>">
                                        </tr>
                                     <% } else { %>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">₹<%=Math.round(total * 100) / 100 %> </td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<%=Math.round(total * 100) / 100%></span></td>
                                            <input type="hidden" name="amount" id="" value="<%=total %>">
                                        </tr>
                                    <% } %> 
                                   
                                </tbody>
                            </table>
                        </div>
                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                        <div class="payment_method">
                            <div class="mb-25">
                                <h5>Payment</h5>
                            </div>
                            <div class="payment_option">
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_mode" id="exampleRadios3" checked="" value="razorpay">
                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse"  aria-controls="bankTranfer">RazorPay</label>
                                    <div class="form-group collapse in" id="bankTranfer">
                                    </div>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_mode" id="exampleRadios4" checked="" value="wallet">
                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse"  aria-controls="checkPayment">Wallet </label>
                                
                                    <div class="form-group collapse in" id="checkPayment">
                                        
                                    </div>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="payment_mode" id="exampleRadios5" checked="" value="COD">
                                    <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse"  aria-controls="paypal">Cash on delivery</label>
                                    <div class="form-group collapse in" id="paypal">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if (address.length==0 ) { %>
                            <button type="button"  class="btn btn-fill-out btn-block mt-30" style="cursor: not-allowed;">Place Order</button>

                            <% } else if (!stock) { %>
                                
                                <button type="button"  class="btn btn-fill-out btn-block mt-30" style="cursor: not-allowed;">Place Order</button>
                                <p class="text mt-5" style="color: rgba(197, 39, 39, 0.797);">Please remove the products which are out of stock.<a href="/removeoutofstock" class="text mt-5" style="color: rgba(197, 39, 39, 0.797);text-decoration: underline;">Click Here To Continue</a></p>

                            <% } else { %>
                                <button type="submit"  class="btn btn-fill-out btn-block mt-30">Place Order</button>
                        <% } %>
                        
                    </form>

                   
                        <div class="coupon mt-30 mb-30">
                            <% if (couponapplied) { %>
                                <div class="toggle_info">
                                    <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                        coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your
                                        code</a></span>
                                  </div>
                                  <% } else { %>
                                    <div class="toggle_info">
                                        <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                                            coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your
                                            code</a></span>
                                      </div>
                            <% } %>
                           
                            <div class="panel-collapse collapse coupon_form " id="coupon">
                              <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.
                                </p>
                                   <% if (couponapplied) { %>
                                    <p class="mb-30 font-sm">Coupon code "<%=code %> "  has already been applied
                                        <a style="padding: 5px;" href="/removecoupon" class="btn bg-danger"><i class="ri-delete-bin-5-line"></i></a>
                                    </p>
                                    
                                   <% } %>
                              

                                <form action="/applycoupon" method="post">
                                    <input type="hidden" name="total" value="<%=total %> " id="">
                                <div class="form-group">
                                    <input type="text" name="code" placeholder="Enter Coupon Code..." required>
                                  </div>
                                  <div class="form-group">
                                    <button class="btn  btn-md" type="submit" >Apply Coupon</button>
                                  </div>
                              </form>
                      
                      
                      
                      
                                  </div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>




<script>
    function hide(id){
        setTimeout(()=>{
            document.getElementById(id).style.display = "none"
        },1900)
    }

    hide('alert')

   
</script>
<!-- jq modal -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!-- jq modal end -->
<script>
//verify function
function verifyPayment(payment, order) {
    
  $.ajax({
    url: "/verifypayment",
    data: {
      payment,
      order,
    },
    method: "post",
    success: (response) => {

        console.log(response);
      if (response.status) {
        swal({
          title: "Success",
          text: "Payment Success",
          icon: "success",
          button: "Ok!",
        }).then(() => {
            location.href = '/clear'
        })
        
        

      } else {
        swal({
          title: "sorry!",
          text: "Payment failed",
          icon: "error",
          button: "Ok!",
        }).then(() => {
          location.href = '/api/cart'
        })

      }
    },
  });
}//ends

    function razorpayPayment(orderInfo) {
        console.log(orderInfo);
      
  var options = {
    key: "rzp_test_wxBeuGUWgAI19I", // Enter the Key ID generated from the Dashboard
    amount: orderInfo.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    currency: "INR",
    name: "COSMOS", //your business name
    description: "Test Transaction",
    image: "/public/assets/imgs/theme/logo.jpg",
    order_id: `${orderInfo.id}`, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    handler: function (response) {
  

      verifyPayment(response , orderInfo.order);
      console.log(response);
      
    },
    prefill: {
      name: `Shaheem`, //your customer's name
      email: "Shaheem@.com",
      contact: `+919995092251`,
    },
    notes: {
      address: "Cosmos Office",
    },
    theme: {
      color: "#3399cc",
    },
  };
  var rzp1 = new Razorpay(options);
  rzp1.open();
}
</script>
<script>
    $(document).ready(function() {
        $('#placeorder').submit((e) =>{
            e.preventDefault();
console.log("clicked")
const paymentMode = document.querySelector('input[name="payment_mode"]:checked');
let paymentMode1 = paymentMode.value
console.log(paymentMode1);


$.ajax({
            url : '/placeorder',
            type : 'post',
            data:$('#placeorder').serialize()
          }).done((data) =>{

            console.log("DATAAAAAAAAADAAAAAAAA")
            console.log(data);

            if(paymentMode1=="COD")
            {
                console.log("BROO")
                swal({
          title: "Success",
          text: "Order Success",
          icon: "success",
          button: "Ok!",
        }).then(() => {
            location.href = '/clear'
        })
            }
            else if(paymentMode1=="wallet")
            {

                let total = Number(document.getElementById('tamount').value)
                let wa = Number(document.getElementById('wa').value)
                if(total > wa)
                {
                    swal({
          title: "ERROR",
          text: "Insufficient wallet balance",
          icon: "error",
          button: "Ok!",
        }).then(() => {
            location.href = '/checkout'
        })
                }
                else
                {
                    swal({
          title: "Success",
          text: "Order Success",
          icon: "success",
          button: "Ok!",
        }).then(() => {
            location.href = '/clear'
        })
                }
                console.log(total)
                console.log(wa)
                console.log(typeof(total))
                console.log(typeof(wa))
               
            }
            else
            {
                console.log(data);
                razorpayPayment(data)
            }
            
          
            
           
            
          })

            

            
          
        })
    })
</script>




<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<%- include('../partials/user-footer') %>