<%- include('../partials/user-header') %>


    <% if (itemadded && !more) { %>

        <div style="background-color: #fcfffb; border-color: #da639e; color: #1fa5bd; padding: 10px; text-align: center;"
            role="alert" id="alert">
            Item added to cart!
        </div>

        <% } %>


            <main class="main">

                <section class="mt-50 mb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-detail accordion-detail">
                                    <div class="row mb-50">
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="detail-gallery">
                                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                                <!-- MAIN SLIDES -->
                                                <!-- <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img class="default-img" src="/images/<%=data.Image %>" alt="">
                                            </figure>
                                           
                                        </div> -->

                                            </div>
                                            <div class="product-image-slider">
                                                <figure class="border-radius-10">
                                                    <img src="/images/products/<%=data.image[0]%> "
                                                        style="background-color: white;" alt="product image">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/images/products/<%=data.image[1]%> " alt="product image"
                                                        style="background-color: white;">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/images/products/<%=data.image[2]%> " alt="product image"
                                                        style="background-color: white;">
                                                </figure>
                                                <figure class="border-radius-10">
                                                    <img src="/images/products/<%=data.image[3]%> " alt="product image"
                                                        style="background-color: white;">
                                                </figure>
                                                <!-- <figure class="border-radius-10">
                                            <img src="assets/imgs/shop/product-16-5.jpg" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="assets/imgs/shop/product-16-6.jpg" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img src="assets/imgs/shop/product-16-7.jpg" alt="product image">
                                        </figure> -->
                                            </div>

                                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                                <div><img src="/images/products/<%=data.image[0]%>" alt="product image">
                                                </div>
                                                <div><img src="/images/products/<%=data.image[1]%>" alt="product image">
                                                </div>
                                                <div><img src="/images/products/<%=data.image[2]%>" alt="product image">
                                                </div>
                                                <div><img src="/images/products/<%=data.image[3]%>" alt="product image">
                                                </div>
                                                <!-- <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                        <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div> -->
                                            </div>
                                            <!-- End Gallery -->
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="detail-info">
                                                <h2 class="title-detail">
                                                    <%=data.productTitle %>
                                                </h2>
                                                <div class="product-detail-rating">
                                                    <div class="pro-details-brand">
                                                        <span> Brands :<a href="shop-grid-right.html">COSMOS </a></span>
                                                    </div>
                                                    <div class="product-rate-cover text-end">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                                    </div>
                                                </div>
                                                <div class="clearfix product-price-cover">
                                                    <div class="product-price primary-color float-left">
                                                        <ins><span class="text-brand">₹<%=data.price %> </span></ins>
                                                        <ins><span class="old-price font-md ml-15"></span></ins>
                                                        <span class="save-price  font-md color3 ml-15"></span>
                                                    </div>
                                                </div>
                                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                                <div class="short-desc mb-30">
                                                    <p>
                                                        <%=data.description.substring(0,20).concat('...') %> %>
                                                    </p>
                                                </div>
                                                <div class="product_sort_info font-xs mb-30">
                                                    <ul>
                                                        <li class="mb-10"><i>QUANTITY:</i>Only <%=data.stock%> left!
                                                        </li>
                                                        <li class="mb-10"><i> CATEGORY:</i>
                                                            <%=data.category%>
                                                        </li>
                                                        <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                                                            available</li>
                                                    </ul>
                                                </div>

                                                <!-- <div class="bt-1 border-color-1 mt-30 mb-30"></div> -->
                                                <!-- <div class="detail-extralink">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> -->
                                                <!-- <div class="product-extra-link2">
                                                <button type="submit" class="button button-add-to-cart"><a href="/add-to-cart/<%=data._id %>">Add to cart</a></button>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a> -->
                                                <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                                <!-- </div> -->

                                                <form action="/addtocart/<%=data._id %>" method="post">
                                                    <input type="hidden" name="offer" value="0" id="">
                                                    <div class="detail-extralink">



                                                        <input type="number" name="qty" value="1" style="width: 60px;"
                                                            min=1 max="<%=data.stock%>">

                                                        <div class="product-extra-link2">

                                                            <button type="submit" class="button button-add-to-cart">Add
                                                                to cart</button>
                                                </form>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>


                        </div>
                        

                    </div>

                    </div>

                </section>
            </main>
            <script>
                function hide(id) {
                    setTimeout(() => {
                        document.getElementById(id).style.display = "none"
                    }, 2300)
                }

                hide('alert')


                document.getElementById('wishbtn').onclick = () => {

                    document.getElementById('wishbtn1').click()
                }


                document.getElementById('wishbtn2').onclick = () => {

                    document.getElementById('wishbtn22').click()
                }
            </script>
            <%- include('../partials/user-footer') %>